PORT=8000
MONGODB_URI=mongodb+srv://ANUP:<db_anup123@>@cluster0.rkwvawh.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRES_IN=7d